.bg {
  background: linear-gradient(to right, rgba(251, 234, 215, 0.7), #fbead7), url(/img/skittles320.jpg);
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  @media (min-width: 500px) {
    .bg {
      background: linear-gradient(to right, rgba(251, 234, 215, 0.75), #fbead7), url(/img/skittlescrop.png) center 50px;
      background-size: cover; } }
  @media (min-width: 500px) and (orientation: portrait) {
    .bg {
      background: linear-gradient(to right, rgba(251, 234, 215, 0.75), #fbead7), url(/img/skittles768.png) -100px 50px;
      background-size: cover; } }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.45em;
  font-weight: 500; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.2em; }

.lead {
  margin-top: 160px; }

.lead.links {
  margin-top: 0; }

p {
  text-align: justify; }

.container {
  padding: 0 1.5rem; }
  @media (min-width: 569px) {
    .container {
      width: 95%; } }

.links li {
  margin-bottom: 0; }
.links a {
  color: #603D22; }
  .links a:hover {
    color: #0092d8; }

span.linkdescription {
  display: inline-block;
  margin-bottom: 1.5em; }

li {
  list-style-type: none;
  color: #008500; }

main p, section p, aside p {
  margin-bottom: 0.8em;
  font-weight: 300; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  background: #D3BFAD; }
  header img {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.3em;
    height: 80px;
    border-radius: 50%;
    background: white; }
  header h1 {
    margin-bottom: 0;
    line-height: 0.9em;
    padding-top: 0.89em;
    font-weight: 600; }
  header h5 {
    letter-spacing: -0.06rem;
    line-height: 1.6; }
  header nav {
    box-shadow: 0 1px 3px black;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    background-color: #862121;
    width: 100%; }
  header ul {
    display: flex;
    padding: 0;
    margin: 0 0 -1rem -0.465rem;
    width: 100%; }
  header li {
    list-style: none;
    flex-grow: 1;
    text-align: center; }
    header li a {
      background-color: rgba(0, 200, 50, 0.05);
      padding: 0.9em 0.57em;
      display: block;
      color: #D3BFAD;
      text-decoration: none;
      transition: all 0.3s;
      border-left: 0.25px solid rgba(0, 0, 0, 0.1);
      border-right: 0.25px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
    header li a:hover {
      background-color: #961111;
      color: white;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      transition: all 0.3s; }
    header li a:active {
      background-color: #961111; }

.focus {
  background-color: #961111;
  color: white; }

.donate {
  text-align: center;
  width: 100%;
  max-width: 39rem;
  margin: 0 auto; }
  .donate p {
    text-align: center; }
  @media screen and (min-width: 569px) {
    .donate {
      margin-top: -5rem; } }
  @media screen and (min-width: 572px) {
    .donate {
      margin-top: -3rem; } }
  @media screen and (min-width: 576px) {
    .donate {
      margin-top: -7rem; } }
  @media screen and (min-width: 580px) {
    .donate {
      margin-top: -5rem; } }
  @media screen and (min-width: 591px) {
    .donate {
      margin-top: -2rem; } }
  @media screen and (min-width: 593px) {
    .donate {
      margin-top: 0rem; } }
  @media screen and (min-width: 622px) {
    .donate {
      margin-top: 2rem; } }
  @media screen and (min-width: 634px) {
    .donate {
      margin-top: 5rem; } }
  @media screen and (min-width: 659px) {
    .donate {
      margin-top: 3rem; } }
  @media screen and (min-width: 664px) {
    .donate {
      margin-top: 0rem; } }
  @media screen and (min-width: 672px) {
    .donate {
      margin-top: 3rem; } }
  @media screen and (min-width: 677px) {
    .donate {
      margin-top: 5rem; } }
  @media screen and (min-width: 683px) {
    .donate {
      margin-top: 3rem; } }
  @media screen and (min-width: 736px) {
    .donate {
      margin-top: 1rem; } }
  @media screen and (min-width: 773px) {
    .donate {
      margin-top: -1rem; } }
  @media screen and (min-width: 781px) {
    .donate {
      margin-top: 0rem; } }
  @media screen and (min-width: 806px) {
    .donate {
      margin-top: 3rem; } }
  @media screen and (min-width: 831px) {
    .donate {
      margin-top: 0rem; } }
  @media screen and (min-width: 855px) {
    .donate {
      margin-top: -4rem; } }
  @media screen and (min-width: 865px) {
    .donate {
      margin-top: -2rem; } }
  @media screen and (min-width: 872px) {
    .donate {
      margin-top: 0rem; } }

.tshirt-donate {
  text-align: center; }

.adopt-a-pet-banner {
  position: relative;
  bottom: 15px; }
  .adopt-a-pet-banner img {
    width: 100%;
    max-width: 468px;
    float: left;
    text-align: center;
    margin-top: 2rem; }
    @media screen and (min-width: 360px) {
      .adopt-a-pet-banner img {
        max-width: 100%; } }
    @media screen and (min-width: 569px) {
      .adopt-a-pet-banner img {
        margin-top: 21rem; } }
    @media screen and (min-width: 591px) {
      .adopt-a-pet-banner img {
        margin-top: 24rem; } }
    @media screen and (min-width: 622px) {
      .adopt-a-pet-banner img {
        margin-top: 27rem; } }
    @media screen and (min-width: 634px) {
      .adopt-a-pet-banner img {
        margin-top: 29rem; } }

.resp320, .resp568 {
  position: absolute;
  margin-top: -500px; }

@media screen and (min-width: 360px) {
  header ul {
    margin: 0 0 -1rem 0; } }
@media screen and (min-width: 400px) {
  .resp320 {
    position: inherit; } }
@media screen and (min-width: 550px) {
  .resp568 {
    position: inherit; } }
@media screen and (min-width: 569px) {
  .lead {
    margin-top: 170px; }

  .lead.links {
    margin-top: 170px; }

  aside.eight.columns {
    margin-left: 0;
    margin-top: -28rem; } }
  @media screen and (min-width: 569px) and (min-width: 929px) {
    aside.eight.columns {
      margin-top: -25rem; } }
  @media screen and (min-width: 569px) and (min-width: 929px) {
    aside.eight.columns {
      margin-top: -23rem; } }

@media screen and (min-width: 667px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 731px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 736px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 768px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 773px) {
  .resp320, .resp568 {
    position: inherit; } }
