.about-us-bg {
  background: linear-gradient(to right, #bda586, #ada297); }

.bgHome {
  background: linear-gradient(to right, rgba(251, 234, 215, 0.7), #fbead7), url(/img/skittles320.jpg);
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  @media (min-width: 500px) {
    .bgHome {
      background: linear-gradient(to right, rgba(251, 234, 215, 0.75), #fbead7), url(/img/skittlescrop.png) center 50px;
      background-size: cover; } }
  @media (min-width: 500px) and (orientation: portrait) {
    .bgHome {
      background: linear-gradient(to right, rgba(251, 234, 215, 0.75), #fbead7), url(/img/skittles768.png) -100px 50px;
      background-size: cover; } }

.bgAbout {
  background: url(/img/bella2x.png);
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  @media (min-width: 500px) {
    .bgAbout {
      background: linear-gradient(to left, rgba(251, 234, 215, 0.6), rgba(251, 234, 215, 0)), url(/img/bella2x.png);
      background-size: cover; } }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  body {
    font-weight: 300; } }
@media (min-width: 850px) {
  body p {
    font-size: 1.6rems; } }

h1 {
  font-size: 1.7em; }
  @media (min-width: 700px) {
    h1 {
      font-size: 3.7rem;
      line-height: 3rem;
      padding-top: 3.5rem; } }

h2 {
  font-size: 1.45em;
  font-weight: 500; }
  @media (min-width: 700px) {
    h2 {
      font-size: 1.8em;
      line-height: normal;
      letter-spacing: -0.5px; } }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.8em; }
  @media (min-width: 700px) {
    h5 {
      font-size: 1.8rem;
      font-weight: 400;
      padding-top: 0.5rem; } }
  @media (min-width: 850px) {
    h5 {
      font-size: 1.8rem; } }

h6 {
  font-size: 0.2em; }

p {
  text-align: justify; }
  @media (min-width: 700px) {
    p {
      text-align: left;
      font-size: 1.6rem;
      line-height: 1.65; } }
  @media (min-width: 850px) {
    p {
      font-size: 1.8rem; } }

ul.links {
  font-size: 1.7rem;
  line-height: 1.65; }
  @media (min-width: 700px) {
    ul.links {
      font-size: 1.45rem; } }
  @media (min-width: 810px) {
    ul.links {
      font-size: 1.7rem; } }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  background: #D3BFAD; }
  header a.header {
    text-decoration: none;
    color: inherit;
    width: 300px; }
  header img {
    float: left;
    height: 85px;
    background: transparent; }
    @media (min-width: 400px) {
      header img {
        margin-right: 2rem; } }
    @media (min-width: 700px) {
      header img {
        height: 110px; } }
  header h1 {
    margin-bottom: 0;
    line-height: 0.9em;
    padding-top: 0.89em;
    font-weight: 600; }
    @media (min-width: 700px) {
      header h1 {
        line-height: 2rem;
        padding-top: 3.5rem; } }
  header h5 {
    letter-spacing: -0.06rem;
    line-height: 1.6; }
  header nav {
    box-shadow: 0 1px 3px black;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    background-color: #862121;
    width: 100%; }
    @media (min-width: 700px) {
      header nav {
        top: 109px; } }
  header ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0 0 -1rem -0.465rem;
    width: 100%; }
    @media (min-width: 700px) {
      header ul {
        font-weight: 300;
        font-size: 1.75rem; } }
    @media screen and (min-width: 360px) {
      header ul {
        margin: 0 0 -1rem 0; } }
  header li {
    list-style: none;
    flex-grow: 1;
    text-align: center; }
    header li a {
      background-color: rgba(0, 200, 50, 0.05);
      padding: 0.9em 0.57em;
      display: block;
      color: #D3BFAD;
      text-decoration: none;
      transition: all 0.3s;
      border-left: 0.25px solid rgba(0, 0, 0, 0.1);
      border-right: 0.25px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
    header li a:hover {
      background-color: #961111;
      color: white;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      transition: all 0.3s; }
    header li a:active {
      background-color: #961111; }

.focus {
  background-color: #961111;
  color: white; }

.main {
  padding-top: 16rem; }
  @media (min-width: 700px) {
    .main {
      padding-top: 20rem; } }
  @media (min-width: 800px) {
    .main .col.col-2-of-3 {
      flex-shrink: 3; } }

[class*='col-'] hr {
  border-top: 1px solid rgba(96, 61, 34, 0.5);
  width: 100%;
  margin-right: -0.5%; }
  @media (min-width: 700px) {
    [class*='col-'] hr {
      margin-right: 0; } }

.donate {
  text-align: center;
  width: 100%;
  max-width: 39rem;
  margin: 0 auto; }
  .donate h3 {
    font-weight: 500; }
  .donate p {
    text-align: center; }

.links {
  flex-shrink: 0; }
  .links li {
    margin-bottom: 0;
    font-weight: 500; }
  .links a {
    color: #603D22; }
    .links a:hover {
      color: #0092d8; }
    .links a .about-us {
      color: whitesmoke; }
  .links span.linkdescription {
    display: inline-block;
    margin-bottom: 1.5em; }
  @media (min-width: 805px) {
    .links p {
      font-size: 1em; } }

li {
  list-style-type: none;
  color: #008500; }

label {
  margin-bottom: 0.2rem;
  font-weight: 400;
  font-size: 1.6rem; }
  @media (min-width: 700px) {
    label {
      font-size: 1.7rem; } }
  @media (min-width: 850px) {
    label {
      font-size: 1.8rem; } }

input[type="textarea"] {
  min-height: 20rem; }

#contactus {
  margin-top: 1.8rem; }
  #contactus input {
    width: 100%; }
  #contactus input[type="submit"] {
    width: auto;
    background-color: #862121;
    color: #D3BFAD;
    font-size: 1.4rem;
    font-weight: 300; }
    @media (min-width: 700px) {
      #contactus input[type="submit"] {
        font-size: 1.6rem; } }
    @media (min-width: 850px) {
      #contactus input[type="submit"] {
        font-size: 1.8rem; } }
    #contactus input[type="submit"]:hover {
      color: white;
      background-color: #961111; }

.tshirt-donate {
  text-align: center; }

aside.col.col-2-of-3 {
  padding-left: 0; }

.adopt-a-pet-banner {
  position: relative;
  bottom: 15px; }
  .adopt-a-pet-banner img {
    display: block;
    width: 100%;
    max-width: 440px;
    margin: 0 auto; }
    @media screen and (min-width: 360px) {
      .adopt-a-pet-banner img {
        width: 100%; } }

.resp320, .resp568 {
  position: absolute;
  margin-top: -500px; }

@media screen and (min-width: 400px) {
  .resp320 {
    position: inherit; } }
@media screen and (min-width: 550px) {
  .resp568 {
    position: inherit; } }
@media screen and (min-width: 569px) {
  .lead {
    margin-top: 170px; }

  .lead.links {
    margin-top: 170px; } }
@media screen and (min-width: 667px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 731px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 736px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 768px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 773px) {
  .resp320, .resp568 {
    position: inherit; } }
