@import colors

// - Color variables
$bgcolor: $color-secondary-1
$accent-color: $color-secondary-0
$link-color: $color-tertiary-0
$hover-color: $color-complement-0
$header-bgcolor: $color-secondary-2
$nav-bgcolor: $color-secondary-4
h1
  font-size: 1.7em
h2
  font-size: 1.45em
  letter-spacing: -0.03rem
h3
  font-size: 1.3em
h4
  font-size: 1.1em
h5
  font-size: 0.8em
h6
  font-size: 0.2em

.lead
  margin-top: 150px

.lead.links
  margin-top: 0

p
  text-align: justify

.container
  padding: 0 1.5rem

.links
  li
    margin-bottom: 0

span.linkdescription
  display: inline-block
  margin-bottom: 1.5em

li
  list-style-type: none

main, section, aside
  p
    margin-bottom: 0.8em

header.twelve.columns
  img
    float: left
    margin-right: 0.5em
    margin-top: 0.3em
    height: 80px
  h1
    margin-bottom: 0
    line-height: 0.9em
    padding-top: 0.89em
  h5
    letter-spacing: -.06rem
    line-height: 1.6

header
  position: fixed
  z-index: 150
  background: white
  nav
    box-shadow: 0 1px 3px black
    position: fixed
    top: 84px
    left: 0
    right: 0
    background-color: rgb(51,51,51)
    width: 100%
  ul
    display: flex
    padding: 0
    margin: 0 0 -1rem -0.465rem
    width: 100%
  li
    list-style: none
    flex-grow: 1
    text-align: center
    a
      background-color: rgb(60,60,60)
      background-color: rgba(0,200,50,0.05)
      padding: 0.9em 0.57em
      display: block
      color: #999
      text-decoration: none
      transition: all 0.3s
      border-left: 0.25px solid rgb(51,51,51)
      border-right: 0.25px solid rgb(51,51,51)
      border-radius: 5px
    a:hover
      background-color: rgba(0,200,50,0.3)
      color: white
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5)
      text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
      transition: all 0.3s

.donate
  text-align: center
  width: 100%
  max-width: 39rem
  margin: 0 auto
  p
    text-align: center

.tshirt-donate
  text-align: center

.adopt-a-pet-banner
  clear: both
  img
    width: 100%
    max-width: 468px
    float: left
    text-align: center
    margin-top: 2rem

.resp320, .resp568
  position: absolute
  margin-top: -500px
@media screen and (min-width: 360px)
  // #home
  //   display: block
  header
    ul
      margin: 0 0 -1rem 0
@media screen and (min-width: 400px)
  .resp320
    position: inherit
@media screen and (min-width: 550px)
  .resp568
    position: inherit
@media screen and (min-width: 569px)
  .lead.links
    margin-top: 150px
  aside.eight.columns
    margin-left: 0
    margin-top: -28rem
    // float: left
@media screen and (min-width: 640px)
@media screen and (min-width: 667px)
  .resp320, .resp568
    position: inherit
@media screen and (min-width: 731px)
  .resp320, .resp568
    position: inherit
@media screen and (min-width: 736px)
  .resp320, .resp568
    position: inherit
@media screen and (min-width: 768px)
  .resp320, .resp568
    position: inherit
@media screen and (min-width: 773px)
  .resp320, .resp568
    position: inherit
