h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.45em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.2em; }

.lead {
  margin-top: 150px; }

.lead.links {
  margin-top: 0; }

p {
  text-align: justify; }

.container {
  padding: 0 1.5rem; }

.links li {
  margin-bottom: 0; }

span.linkdescription {
  display: inline-block;
  margin-bottom: 1.5em; }

li {
  list-style-type: none; }

main p, section p, aside p {
  margin-bottom: 0.8em; }

header.twelve.columns img {
  float: left;
  margin-right: 0.5em;
  margin-top: 0.3em;
  height: 80px; }
header.twelve.columns h1 {
  margin-bottom: 0;
  line-height: 0.9em;
  padding-top: 0.89em; }
header.twelve.columns h5 {
  letter-spacing: -0.06rem;
  line-height: 1.6; }

header {
  position: fixed;
  z-index: 150;
  background: white; }
  header nav {
    box-shadow: 0 1px 3px black;
    position: fixed;
    display: flex;
    flex: 1;
    top: 84px;
    left: 0;
    right: 0;
    background-color: #333333; }
  header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; }
  header li {
    margin-bottom: 0;
    display: inline-block;
    margin: 0 0px; }
    header li a {
      padding: 0.9em 0.57em;
      display: block;
      color: #999;
      text-decoration: none;
      transition: all 0.3s; }
    header li a:hover {
      background-color: rgba(0, 200, 50, 0.5);
      color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      transition: all 0.5s; }

.donate {
  text-align: center; }
  .donate p {
    text-align: center; }

.resp320, .resp568 {
  position: absolute;
  margin-top: -500px; }

#home {
  display: none; }

@media screen and (min-width: 374px) {
  #home {
    display: block; } }
@media screen and (min-width: 400px) {
  .resp320 {
    position: inherit; } }
@media screen and (min-width: 550px) {
  .resp568 {
    position: inherit; } }
@media screen and (min-width: 569px) {
  .resp568 {
    position: inherit; }

  .lead.links {
    margin-top: 150px; } }
@media screen and (min-width: 667px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 731px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 736px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 768px) {
  .resp320, .resp568 {
    position: inherit; } }
@media screen and (min-width: 773px) {
  .resp320, .resp568 {
    position: inherit; } }
