doctype
html
  include mixins-flexbox
  +head
  body
    +contactHeaderAndSiteNav
    .bgContact
    .container.main
      .row
        .col.col-2-of-3
          main
            h2 Contact Us

            //- content



          hr
          +cashDonate
          hr
        .col.col-1-of-3
          +asideLinks
        +adoptApetBanner
