doctype
html
  include mixins-flexbox
  +head
  body
    +contactHeaderAndSiteNav
    .bgContact
    .container.main
      .row
        .col.col-2-of-3
          main
            h2 Contact Us
            .cognito
              script(src="https://services.cognitoforms.com/s/8S0o48YXv0uy2haTS2rEJg")
              script. 
                Cognito.load("forms", { id: "3" })

            //- content
            form
              p Email Address
              input(type="email" name="email")
              p First Name
              input(type="text" name="firstName")
              p Last Name
              input(type="text" name="lastName")
              p What can we do for you?
              input(type="textfield" name="comment")


          hr
          +cashDonate
          hr
        .col.col-1-of-3
          +asideLinks
        +adoptApetBanner
