doctype
html
  include mixins-flexbox
  +head
  body
    +contactHeaderAndSiteNav
    .bgContact
    .container.main
      .row
        .col.col-2-of-3
          main
            h2 Contact Us

            //- content
            form
              p Email Address
              input(type="email" name="email")
              p First Name
              input(type="text" name="firstName")
              p Last Name
              input(type="text" name="lastName")
              p What can we do for you?
              input(type="textfield" name="comment")


          hr
          +cashDonate
          hr
        .col.col-1-of-3
          +asideLinks
        +adoptApetBanner
