doctype
html
  include mixins-flexbox
  +head
  body
    +contactHeaderAndSiteNav
    .bgContact
    .container.main
      .row
        .col.col-2-of-3
          main
            h2 Contact Us
            form#contactus
              
              label First Name
              input(type="text" name="firstName")
              label Last Name
              input(type="text" name="lastName")
              label Email Address
              input(type="email" name="email")
              label What can we do for you?
              input(type="textarea" name="comment")
              input(type="submit" name="submit" value="Send Email")
              
              


          hr
          +cashDonate
          hr
        .col.col-1-of-3
          +asideLinks
        +adoptApetBanner
