doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial scale=1")
    title Annie's Rescue | Helping Pets and People is our Goal
    link(rel="stylesheet" href="./css/normalize.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css")
    link(rel="stylesheet" href="./css/flexbox-grid.css")
    link(rel="stylesheet" href="./css/flexbox-styles.css")
    include mixins-flexbox
  body
    +homeHeaderAndSiteNav
    //- .bg
    //- .container
    //-   .row
    //-     main.section.eight.columns
    //-       h2.lead With Your Help, We Save Lives
    //-       p Our mission is to spread the idea that all life is significant and worthwhile. We  do this by helping those that are sometimes overlooked in our community. Our pet rescue is focusing on pets considered “un-adoptable” that are generally not accepted into traditional rescues due to illness, injury, behavioral issues, age, breed and/or appearance, and helping them find fitting homes for life.
    //-       p We know that we cannot save them all, but we strive to make a significant difference in the lives that we do touch. We specialize in long term fostering.  As long as it takes to heal sick or injured pets or train pets to have appropriate behaviors, is as long as they will stay with us. We work with our veterinarian to give the highest standard of medical care to our fosters and seek assistance from a dog trainer to work out behavioral issues.
    //-       p We are also devoted to giving back to the human community through support for individuals who are in need, with or without pets, through our “Food Bags For The Needy” program. We accept monetary donations, as well as, food and supplies to distribute to those who need it.
    //-       p If you have food or supplies you would like to donate for our rescue pets, Please call 530-377-MUTZ (530-377-6889) and leave us a message. We would be glad to arrange to pick up your donations.
    //-       p Donations by check may be mailed to P.O. Box 655, Cottonwood, Ca 96022
    //-       p Checks should be made out to Annie’s Pet Rescue
    //-       p Click here to learn about our adoption process.
    //-       hr
    //-     +asideLinks
    //-   .row
    //-     +cashDonate
    //-     +adoptApetBanner
      
