doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial scale=1")
    title Annie's Rescue | Helping Pets and People is our Goal
    link(rel="stylesheet" href="./css/normalize.css")
    link(rel="stylesheet" href="./css/skeleton.css")
    link(rel="stylesheet" href="./css/styles.css")
    link(rel="stylesheet" href="./css/new-nav.css")
    include mixins
  body
    input(type="checkbox" id="hamburger")
    label(class="menuicon" for="hamburger")
      span
    div.menu
